.form-card{
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  padding: 40px;
  background-color: white;
}
.form-body{
  padding: 10px 20px;
  background-color: #F5F5F5;
  height: fit-content;
  width: auto;
}
@media (max-width: 846px ){
  .form-body{
    width: fit-content;
  }
}
